* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
}
#nav-bar ul {
  list-style-type: none;
  background: rgb(240, 232, 232);
  text-align: center;
  border: 1px solid black;
}
#nav-bar ul li {
  color: black;
  display: inline-table;
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: relative;
}
#nav-bar ul li a {
  color: black;
  text-decoration: none;
  display: block;
}
#nav-bar ul li a:hover {
  background: rgb(196, 165, 165);
  color: black;
  transition: 0.7s;
}
#nav-bar ul li > .menu {
  display: none;
  position: absolute;
}
#nav-bar ul li:hover .menu {
  display: block;
}
#nav-bar .mini-menu {
  position: absolute;
  left: 200px;
  display: none;
  top: 0px;
}
#nav-bar ul li :hover .mini-menu {
  display: block;
}
