body {
  background-color: rgb(230, 116, 230);
  margin: 0%;
  padding: 0%;
}
#login-form {
  margin-top: 20px;
  margin-left: 450px;
  width: 400px;
  height: 420px;
  background-color: white;
  border-radius: 5px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  padding-top: 30px;
}

#Email-password input {
  width: 300px;
  height: 38px;
  border: 1px solid rgb(235, 219, 219);
  font-size: larger;
  margin-top: 15px;
  margin-left: 50px;
}

#Email-password button {
  width: 300px;
  height: 40px;
  margin-left: 50px;
  background-color: rgb(230, 116, 230);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: larger;
}
#Email-password button:hover {
  background: rgb(240, 216, 216);
  color: black;
  transition: 0.7s;
}
p {
  color: rgb(230, 116, 230);
  font-size: larger;
  margin-left: 50px;
  margin-top: 5px;
}
h5 {
  color: black;
  font-size: larger;
  margin-top: 15px;
  text-align: center;
}
#user {
  width: 400px;
  height: 230px;
  background: white;
}
#signup button {
  width: 300px;
  height: 40px;
  margin-left: 50px;
  background-color: rgb(230, 116, 230);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: larger;
}
#signup button:hover {
  background: rgb(240, 216, 216);
  color: black;
  transition: 0.7s;
}
#user input {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  margin-left: 50px;
  font-size: larger;
  border: 1px solid rgb(235, 219, 219);
}
#user button {
  margin-top: 5px;
}
