body {
  margin: 0px;
  padding: 0px;
}
.menu {
  display: flex;
  width: 730px;
  margin-left: 280px;
}
.menu :hover {
  background: yellow;
}
ul {
  border: 1px solid black;
  display: block;
  list-style-type: none;
  width: 100px;
  height: 40px;
}
.menu ul li {
  height: 40px;
  line-height: 40px;
  width: 120px;
  margin-top: 30px;
  text-align: center;
  border: 1px solid black;
}
.menu ul li a {
  text-decoration: none;
  display: block;
  color: black;
}
